/*  your css code here. If applicable */
#grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 100px);
	gap: 2px;
	background-color: rgb(255, 255, 255);
	padding: 10px;
}

#grid > div {
    background-color: green;
    color: white;
    font-size: 30px;
    padding: 10px;
    font-family: serif;
  }

.item1{
	grid-column: 1 / 5; 
}
.item2 { 
    grid-column: 1 / 2; 
    grid-row: 2 / 6; 
}
.item3 { grid-column: 2 / 3; }
.item4 { grid-column: 3 / 5; }

.item5 { grid-column: 2 / 4; }
.item6 { grid-column: 4 / 5; }

.item7 { grid-column: 2 / 3; }
.item8 { grid-column: 3 / 4; }
.item9 { grid-column: 4 / 5; }

.item10 { grid-column: 2 / 5; }

