/*  your css code here. If applicable */
#grid{
	display: grid;
	grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
	grid-template-rows: 124px 124px 124px 124px 124px;
	grid-gap: 10px 10px;
	background-color: rgb(255, 255, 255);
	padding: 10px;
}

#grid > div {
    background-color: green;
    color: white;
    font-size: 30px;
    padding: 10px;
    font-family: serif;
  }

#grid> div:nth-child(1) { grid-column: span 4 / auto; }
#grid> div:nth-child(2) { 
    grid-row: span 4 / auto; 
}
#grid> div:nth-child(4) { 
	grid-column: span 2 / auto; 
}
#grid> div:nth-child(5) { grid-column: span 2 / auto; }
#grid> div:nth-child(10) { grid-column: span 3 / auto; }
